* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --color1: rgb(75, 148, 19);
  --color2: rgb(78, 91, 83);
  --color3: rgb(144, 167, 144);
  --color4: rgb(236, 236, 236);
}
/* Body */
Body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(243, 243, 243);
}
a {
  /*text decoration none :  Pour enlever le surlignage de l'ancrage <a> bien se mettre dans le a comme parent sinon ca ne fonctionne pas */
  text-decoration: none;
}
li {
  /* List style none : Pour enlever les boules devant les listes*/
  list-style: none;
}

/* Header et navigation */
header {
  font-weight: bold;
}
.container-nav {
  min-height: 8vh;
}
.navbar {
  position: fixed;
  font-size: 2.2rem;
  display: flex;
  width: 100%;
  background: white;
  z-index: 3; /* la bar de naviguation reste en 1er plan */
}
.navbar a {
  color: var(--color1);
  margin: 26px 27px;
}
.nav-links {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 40px;
}
.nav-links li {
  font-size: 1.4rem;
}

.nav-links :hover {
  transform: scale(1.2);
}
.logo {
  color: var(--color1);
}

.logo span {
  color: var(--color2);
}

/* Partie Accueil */
.accueil {
  background: url(./assets/img/Andy.webp) 0 56% / cover;
  margin-top: 40px;
  height: 100vh;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.card {
  background: rgba(0, 27, 0, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  text-align: center;
  color: var(--color3);
  width: 67%;
}

.acc-title {
  font-size: 3rem;
  margin: 12px;
  text-shadow: -3px 3px 4px black;
}
.acc-text {
  font-size: 1.2rem;
  text-align: center;
  margin: 25px auto;
  text-shadow: -3px 2px 4px black;
}
.acc-btn {
  margin: 12px;
  display: flex;
  justify-content: center;
}

.acc-btn a {
  padding: 0 20px;
  color: var(--color3);
  border: solid 1px;
  border-radius: 32px;
  margin: 0 15px;
  backdrop-filter: blur(3px);
}
.acc-btn a:hover {
  transform: scale(1.1);
  color: var(--color1);
}

/* Section Services */
section.services {
  min-height: 115vh;
  background-color: rgb(243, 243, 243);
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  background-image: linear-gradient(
    to top,
    rgb(231, 231, 231) 0%,
    rgb(243, 243, 243) 100%
  );
}

.service-title h2 {
  font-size: 2.4rem;
  padding-top: 40px;
}

.service-title {
  color: var(--color2);
  text-align: center;
}

.service-title span {
  font-weight: 600;
}

.service-grid-container {
  display: grid;
  margin: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.service-card {
  border-radius: 15px;
  overflow: hidden; /* les coins arrondi de la border radius ne s'afficher pas car les enfant le p était trop grand */
  box-shadow: -1px -1px 7px black;
}
.service-icon {
  height: 90px;
  color: rgb(4, 87, 4);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

.service-content {
  height: 140px;
  color: var(--color2);
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  box-shadow: -3px 4px 2px black;
  justify-content: flex-start;

  font-size: 1rem;
}

.service-content h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

/* A propos */
.presentation {
  text-align: center;
}
.presentation h2 {
  margin-top: 20px;
  font-size: 2.4rem;
  color: var(--color2);
}
.presentation span {
  font-weight: 600;
}
.presentation-paragraphe {
  border: 1px solid black;
  max-width: 700px;

  margin: 30px auto 20px auto;
  border-radius: 4px;
  box-shadow: 0 0 7px black;
  padding: 17px;
}

.grid-entreprise {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 30px 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "img0 img1 . img2 img3"
    "com1 com1 com1 com1 com1"
    "img4 img5 . img6 img7"
    "com2 com2 . com3 com3"
    "img8 img9 . . ."
    "com4 com4 . . .";
  margin-top: 50px;
}

.grid-entreprise img {
  border-radius: 5px;
  max-width: 100%;
  height: 366px;
  position: relative;
  object-fit: cover;
  display: block; /* evite l'espace blanc sous les img */
  box-shadow: 0 0 6px rgb(100, 100, 100);
}

/* 1er ligne */
.img-sdb0 {
  grid-area: img0;
  transform: translateX(28px) translateY(-14px);
}
.img-sdb1 {
  grid-area: img1;
}
.img-sdb2 {
  grid-area: img2;
}

.img-sdb3 {
  grid-area: img3;
  transform: translateX(-28px) translateY(-14px);
  position: relative;
  z-index: -1;
}

/* 2em lignes */
.com-sdb {
  grid-area: com1;
  padding: 23px;
  text-align: center;
}

/* 3em lignes */
.img-cuis1 {
  grid-area: img4;
  transform: translateX(28px) translateY(-14px);
}
.img-cuis2 {
  grid-area: img5;
}
.img-toit1 {
  grid-area: img6;
}
.img-toit2 {
  grid-area: img7;
  transform: translateX(-28px) translateY(-14px);
}

/* 4em lignes  */
.com-cuis {
  grid-area: com2;
  text-align: center;
  padding: 23px;
}

.com-toit {
  grid-area: com3;
  text-align: center;
  padding: 23px;
}

/* 5em lignes  */
.img-toit3 {
  grid-area: img8;
}
.img-bois {
  grid-area: img9;
}
/* 6em lignes  */
.com-bois {
  grid-area: com4;
}

loading: lazy; /* Chargement différé */
background: #f0f0f0; /* Couleur de fond pendant le chargement */

/* Contact */
.map {
  margin: 30px;
}
