* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --color1: rgb(75, 148, 19);
  --color2: rgb(78, 91, 83);
  --color3: rgb(144, 167, 144);
  --color4: ;
}
/* Body */
Body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
  /*text decoration none :  Pour enlever le surlignage de l'ancrage <a> bien se mettre dans le a comme parent sinon ca ne fonctionne pas */
  text-decoration: none;
}
li {
  /* List style none : Pour enlever les boules devant les listes*/
  list-style: none;
}

/* Header et navigation */
header {
  font-weight: bold;
}
.container-nav {
  min-height: 12vh;
}
.navbar {
  position: fixed;
  font-size: 2.2rem;
  display: flex;
  width: 100%;
  background: white;
  z-index: 3; /* la bar de naviguation reste en 1er plan */
}
.navbar a {
  color: var(--color1);
  margin: 26px 27px;
}
.nav-links {
  display: flex;
  margin-left: auto;
  margin-top: 30px;
  margin-right: 40px;
}
.nav-links li {
  font-size: 1.4rem;
}

.nav-links :hover {
  transform: scale(1.2);
}
.logo {
  color: var(--Color1);
}

.logo span {
  color: var(--color2);
}

/* Partie Accueil */
.accueil {
  background: url(./assets/img/Andy.webp) 0 56% / cover;
  margin-top: 27px;
  height: 80vh;
  width: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background: rgba(0, 27, 0, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  text-align: center;
  color: var(--color3);
  width: 67%;
}

.acc-title {
  font-size: 3rem;
  margin: 12px;
  text-shadow: -3px 3px 4px black;
}
.acc-text {
  font-size: 1.2rem;
  text-align: center;
  margin: 25px auto;
  text-shadow: -3px 2px 4px black;
}
.acc-btn {
  margin: 12px;
  display: flex;
  justify-content: center;
}

.acc-btn a {
  padding: 0 20px;
  color: var(--color3);
  border: solid 1px;
  border-radius: 32px;
  margin: 0 15px;
  backdrop-filter: blur(3px);
}
.acc-btn a:hover {
  transform: scale(1.1);
  color: var(--color1);
}

/* Section Services */
section {
  height: 50vh;
}
.service-texte {
  color: var(--color2);
  text-align: center;
}

.service-texte h2 {
  font-size: 2.4rem;
  margin-top: 30px;
}
