* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --color1: rgb(75, 148, 19);
  --color2: rgb(78, 91, 83);
  --color3: rgb(144, 167, 144);
  --color4: rgb(236, 236, 236);
}
/* Body */
Body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
  /*text decoration none :  Pour enlever le surlignage de l'ancrage <a> bien se mettre dans le a comme parent sinon ca ne fonctionne pas */
  text-decoration: none;
}
li {
  /* List style none : Pour enlever les boules devant les listes*/
  list-style: none;
}

/* Header et navigation */
header {
  font-weight: bold;
}
.container-nav {
  min-height: 8vh;
}
.navbar {
  position: fixed;
  font-size: 2.2rem;
  display: flex;
  width: 100%;
  background: white;
  z-index: 3; /* la bar de naviguation reste en 1er plan */
}
.navbar a {
  color: var(--color1);
  margin: 26px 27px;
}
.nav-links {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 40px;
}
.nav-links li {
  font-size: 1.4rem;
}

.nav-links :hover {
  transform: scale(1.2);
}
.logo {
  color: var(--color1);
}

.logo span {
  color: var(--color2);
}

/* Partie Accueil */
.accueil {
  background: url(./assets/img/Andy.webp) 0 56% / cover;
  margin-top: 40px;
  height: 80vh;
  width: 100%;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background: rgba(0, 27, 0, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  text-align: center;
  color: var(--color3);
  width: 67%;
}

.acc-title {
  font-size: 3rem;
  margin: 12px;
  text-shadow: -3px 3px 4px black;
}
.acc-text {
  font-size: 1.2rem;
  text-align: center;
  margin: 25px auto;
  text-shadow: -3px 2px 4px black;
}
.acc-btn {
  margin: 12px;
  display: flex;
  justify-content: center;
}

.acc-btn a {
  padding: 0 20px;
  color: var(--color3);
  border: solid 1px;
  border-radius: 32px;
  margin: 0 15px;
  backdrop-filter: blur(3px);
}
.acc-btn a:hover {
  transform: scale(1.1);
  color: var(--color1);
}

/* Section Services */
section {
  min-height: 115vh;
  background-color: var(--color4);
}
.service-texte h2 {
  font-size: 2.4rem;
  padding-top: 40px;
}

.service-texte {
  color: var(--color2);
  text-align: center;
}

.service-texte span {
  font-weight: 600;
}

.service-grid-container {
  display: grid;
  width: 90%;
  max-width: 1200px; /* Largeur maximale */
  grid-template-columns: 13% 32% 13% 32%;
  gap: 16px 10px;
  margin: 40px;
}
.service-grid-container::before {
  content: "";
  position: absolute;
  background-color: var(--color2);
  width: 900px;
  height: 690px;
  border-radius: 7px;
  top: 118%;
  left: 4%;
  z-index: -1;
}
.card-service {
}
.service-icon {
  border: solid 2px;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  color: var(--color1);
  font-size: 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--color4);
  box-shadow: -3px 4px 2px black;
}

.service-content {
  border: solid 2px;
  width: 500px;
  height: 100px;
  border-radius: 12px;
  color: var(--color2);
  display: grid;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  box-shadow: -3px 4px 2px black;
  align-items: center;
  font-size: 1rem;
}
